{% extends 'grupy/group_base.html' %}

{% block pregroup %}
<div class="col-lg-4 col-md-12 grupy-opis">
    <h1 class="group-name">{{ group.name }}</h1>
    <div class="opis-2">
        {{ group.description_html|safe }}
    </div>
    <h2 class="grupy-heading">Member count: {{ group.members.count }}</h2>
    {% if user.is_authenticated %}
    <div class="button-div">
        {% if user in group.members.all %}
        <button type="button" class="btn btn-outline-light btn-lg join-btn btn-post gr-d-btn" onclick="window.location.href = '{% url 'groups:leave' slug=group.slug %}';">Leave</button>
        {% else %}
        <button type="button" class="btn btn-outline-light btn-lg join-btn btn-post gr-d-btn" onclick="window.location.href = '{% url 'groups:join' slug=group.slug %}';">Join</button>
        {% endif %}
        <button type="button" class="btn btn-outline-light btn-lg join-btn btn-post gr-d-btn" onclick="window.location.href = '{% url 'posty:create' %}';">Post</button>
    </div>
    {% endif %}
</div>
{% endblock pregroup %}

{% block group_content %}
    <div class="col-lg-5 col-md-12 posty">
        {% if group.posts.count == 0 %}
        <h2 class="post-h">No posts yet.</h2>
        {% else %}
        <h2 class="post-h">Posts:</h2>
        {% for post in group.posts.all %}
        {% include 'posty/_post.html' with group=post.group hide_group_name=True %}
        {% endfor %}
        {% endif %}
    </div>
{% endblock group_content %}
