{% extends 'grupy/group_base.html' %}
{% load bootstrap5 %}

{% block group_content %}
    <div class="container containter-form">
        <h2 class="h2-form">Create new group</h2>
        <form method = "POST" action = "{% url 'groups:create' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-light btn-lg btn-post">Create</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock group_content %}