{% extends 'grupy/group_base.html' %}

{% block pregroup %}
    <div class="col-md-4">
        <div>
            <h2>Groups</h2>
        </div>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-dark"><a href="{% url 'groups:create' %}">Create New Group</a></button>
        {% endif %}
    </div>
{% endblock pregroup %}

{% block group_content %}
    <div class="col-md-8">
        <div>
            {% for group in object_list %}
                <a href="{% url 'groups:single' slug=group.slug %}">
                    <h3>{{ group.name }}</h3>
                    <div class="container-fluid">
                        {{ group.description_html|safe }}
                        <div class="row">
                            <div class="col-md-4">
                                <span class="badge">{{ group.members.count }}</span>
                                Member{{ group.members.count|pluralize }}
                            </div>
                            <div class="col-md-4">
                                <span class="badge">{{ group.posts.count }}</span>
                                Post{{ group.posts.count|pluralize }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock group_content %}
