/* ! BASE HTML */

body {
    font-family: 'Montserrat';
    background-color: #19A7CE;
    text-align: center;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-weight: bold; */
    line-height: 1.5;
}


.container-fluid {
    padding: 2% 15%;
}

/* !NAVBAR */

.navbar-brand {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
}

.nav-div {
    background-color: #19A7CE;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 2rem;
}

.nav-item {
    margin: 0 20px;
}


/* ! LOGIN TITLE & IMG */

.user-image {
    width: 80px;
    height: auto;
    filter: invert(100%);
    position: relative;
    margin-bottom: 15px;
    margin-right: 200px;
}

.login-div {
    margin-top: auto;
    margin-bottom: auto;
}

.login-btn {
    margin-top: 20px;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 15px;
}

.login-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 15px;
    margin-right: 200px;
}

.login-container {
    padding: 7% ;
    text-align: center;
}

/* ! LOGIN FORM */

.form-label {
    font-size: 2rem;
}

.form-control {
    border-radius: 15px;
    font-size: 1.2rem;
}

.form-div label {
    text-align: left;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/*! REGISTER */

.register-container {
    width: 80%;
    margin-top: -30px;
}

.register-btn {
    text-align: center;
}

.form-text {
    text-align: left;
}

.register-title {
    margin-bottom: 30px;
}

/*! POSTS */

.btn-post {
    width: 20%;
    margin-top: 30px;
}

.btn {
    border-radius: 15px;
}

.containter-form {
    margin-top: -30px;
}

#id_message, #id_description {
    resize: none;
    border-radius: 25px;
    font-size: 1.5rem;
    height: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#id_group, #id_name  {
    border-radius: 15px;
    font-size: 1.2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label.form-label[for="id_message"] {
    display: none;
}

.form-select {
    border-radius: 15px;
}

.h2-form {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 3rem;
}


/* ! AFTER LOGIN */

.welcome {
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-message {
    margin-bottom: -10px;
    font-size: 1.5rem;
}

.post-info {
    font-size: 1rem;
    margin-bottom: 20px;
}

.post-h {
    font-weight: 600;
}

.posts-by-user{
    margin-bottom: 50px;
}

/* !GROUPS */

.h2-form2 {
    margin-bottom: 50px;
    font-size: 3rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #146C94;
    text-decoration: none;
}

.group-row {
    margin-bottom: 20px;
}

.opis {
    font-size: 1.5rem;
    font-weight:500;
}

.posty {
    margin-bottom: 50px;
    margin-left: 220px;
    text-align: left;
}

.grupy-opis {
    text-align: left;
}

.opis-2 {
    font-size: 1.2rem;
}

.grupy-heading {
    font-size: 1.2rem;
}

.group-name {
    text-transform:uppercase;
}

.join-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1.5rem;
}

.whole-div {
    text-align: left;
    border-style: solid;
    border-radius: 50px;
    margin: 0px 0px 50px 200px;
}

.big-div {
    margin-right: 20px;
}


.text-muted {
    color: #FFF!important;
    text-align: left;
}

.register-form {
    /* text-align: left; */
}

.gr-d-btn {
    width: 80%;
}

.user-posts {
    text-align: left;
    margin-left: 200px;
}

.user-image-posts {
    width: 80px;
    height: auto;
    filter: invert(100%);
    position: relative;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.user-div {
    text-align: center;
}

/* !MEDIA QUERIES */

@media (max-width: 990px) {
    .login-title {
        margin-top: -10px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .user-image {
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-btn {
        margin-top: 20px;
        width: 100%;
    }

    .whole-div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .group-btn {
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .grupy-opis {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .posty {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .gr-d-btn {
        width: 50%;
    }

    .user-posts {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}



